<div class="container">
  <h2>
    Cadastro Dados Pessoais
  </h2>

  <form [formGroup]="formDadosPessoais" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" formControlName="nome" id="nome" name="nome" [ngClass]="{ 'is-invalid': submitted && form.nome.errors }" placeholder="Nome">
        <div *ngIf="submitted && form.nome.errors" class="invalid-feedback">
          <div *ngIf="form.nome.errors.required">Nome é obrigatório</div>
        </div>
      </div>
    
      <div class="form-group col-md-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email" name="email"  [ngClass]="{ 'is-invalid': submitted && form.email.errors }" placeholder="Email">
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
          <div *ngIf="form.email.errors.required">Email é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="nascimento">Data Nascimento</label>
        <input type="date" class="form-control" formControlName="nascimento" id="nascimento" name="nascimento"  [ngClass]="{ 'is-invalid': submitted && form.nascimento.errors }" placeholder="dd/MM/yyyy">
        <div *ngIf="submitted && form.nascimento.errors" class="invalid-feedback">
          <div *ngIf="form.nascimento.errors.required">Data nascimento é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="senha">Password</label>
        <input type="password" class="form-control" formControlName="senha"  [ngClass]="{ 'is-invalid': submitted && form.senha.errors }"  placeholder="Senha">
        <div *ngIf="submitted && form.senha.errors" class="invalid-feedback">
          <div *ngIf="form.senha.errors.required">Senha é obrigatória</div>
        </div>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cpf">Cpf</label>
        <input type="text" class="form-control" kz-cpf formControlName="cpf"  [ngClass]="{ 'is-invalid': submitted && form.cpf.errors }" id="cpf" placeholder="999.999.999-99" maxlength="14" kzMask="999.999.999-99">
        <div *ngIf="submitted && form.cpf.errors" class="invalid-feedback">
          <div *ngIf="form.cpf.errors.required">CPF é obrigatório</div>
          <div 
				    	*ngIf="form.cpf.errors && !form.cpf.pristine">
				    	<span class="glyphicon glyphicon-remove" 
				    		aria-hidden="true"></span> CPF inválido.
				    </div>
        </div>
        
      </div>
      <div class="form-group col-md-6">
        <label for="cnpj">CNPJ</label>
        <input type="text" class="form-control" formControlName="cnpj" kz-cnpj id="cnpj" [ngClass]="{ 'is-invalid': submitted && form.cnpj.errors }" placeholder="99.999.999/9999-99" maxlength="18" kzMask="99.999.999/9999-99">
        <div *ngIf="submitted && form.cnpj.errors" class="invalid-feedback">
          <div *ngIf="form.cnpj.errors.required">CNPJ é obrigatório</div>
          <div 
				    	*ngIf="form.cnpj.errors && !form.cnpj.pristine">
				    	<span class="glyphicon glyphicon-remove" 
				    		aria-hidden="true"></span> CNPJ inválido.
				    </div>
        </div>

				    
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" formControlName="telefone" id="telefone" [ngClass]="{ 'is-invalid': submitted && form.telefone.errors }" placeholder="Telefone" placeholder="(99) 9999-9999" maxlength="14" kzMask="(99) 9999-9999">
        <div *ngIf="submitted && form.telefone.errors" class="invalid-feedback">
          <div *ngIf="form.telefone.errors.required">Telefone é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="celular">Celular</label>
        <input type="text" class="form-control" formControlName="celular" id="celular" [ngClass]="{ 'is-invalid': submitted && form.celular.errors }" placeholder="Celular" placeholder="(99) 99999-9999" maxlength="15" kzMask="(99) 99999-9999">
        <div *ngIf="submitted && form.celular.errors" class="invalid-feedback">
          <div *ngIf="form.celular.errors.required">Celular é obrigatório</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="cep">Cep</label>
        <input type="text" class="form-control" (keyup)="buscarCep()" formControlName="cep" id="cep" [ngClass]="{ 'is-invalid': submitted && form.cep.errors }" placeholder="00000-000" maxlength="9" kzMask="99999-999">
        <div *ngIf="submitted && form.cep.errors" class="invalid-feedback">
          <div *ngIf="form.cep.errors.required">Cep é obrigatório</div>
        </div>
      </div>
      <div class="form-group  col-md-3">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control" id="logradouro" formControlName="logradouro" [ngClass]="{ 'is-invalid': submitted && form.logradouro.errors }" placeholder="Av Barão de Limeira, 539">
        <div *ngIf="submitted && form.logradouro.errors" class="invalid-feedback">
          <div *ngIf="form.logradouro.errors.required">Logradouro é obrigatório</div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="cidade" formControlName="bairro" [ngClass]="{ 'is-invalid': submitted && form.bairro.errors }"  placeholder="Cerqueira Cezar">
        <div *ngIf="submitted && form.bairro.errors" class="invalid-feedback">
          <div *ngIf="form.bairro.errors.required">Bairro é obrigatório</div>
        </div>
    </div>
      <div class="form-group col-md-3">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" formControlName="cidade" [ngClass]="{ 'is-invalid': submitted && form.cidade.errors }"  placeholder="São Paulo">
          <div *ngIf="submitted && form.cidade.errors" class="invalid-feedback">
            <div *ngIf="form.cidade.errors.required">Cidade é obrigatório</div>
          </div>
      </div>
      <div class="form-group col-md-1">
          <label for="estado">Estado</label>
          <input type="text" class="form-control" id="estado"  formControlName="estado" maxLength="2" [ngClass]="{ 'is-invalid': submitted && form.estado.errors }"  placeholder="SP">
          <div *ngIf="submitted && form.estado.errors" class="invalid-feedback">
            <div *ngIf="form.estado.errors.required">Estado é obrigatório</div>
            <div *ngIf="form.estado.errors.minlength">Estado deve ter 2 Caracteres</div>
          </div>
      </div>
    </div>
    
    <input type="submit"  [disabled]="loading" class="btn btn-primary" value="Cadastrar"/>
    <span (click)="limparCampos()" class="btn btn-danger ml-4" >Limpar</span>
  </form>
</div>